{% load static %}

<!DOCTYPE html>

<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
  <link rel="stylesheet" href=" {% static 'ui-kit-auth/style.css' %} ">
  <script src="https://www.google.com/recaptcha/api.js" async defer></script>

</head>
<body>
  <div class="wrapper" style="width: 400px;">

    {% if page == "login" %}

    <form method="POST">

        {% csrf_token %}

        <h2>Login</h2>
        <div class="input-field">
            <input type="text" id="username" name="username" required>
            <label>Enter your username</label>
        </div>
        <div class="input-field">
            <input type="password" required>
            <label>Enter your password</label>
        </div>
        <div class="forget">
            <label for="remember">
            <input type="checkbox" id="remember" checked>
            <p>Remember me</p>
            </label>
            <a href="#">Forgot password?</a>
        </div>
        <!-- reCAPTCHA widget -->
        <div class="g-recaptcha" data-sitekey="{{site_key}}"></div><br>
        <button type="submit">Log In</button>
        <div class="register">
            <p>Don't have an account? <a href="{% url 'register' %}">Register</a></p>
        </div>
    </form>

    {% else %}

    <form method="POST">

        {% csrf_token %}

        <h2>Register</h2>

        {% for field in form %}
        
        <div class="input-field">
            {{ field }}
            <label>{{field.label}}</label>
        </div>

        {% endfor %}
        <!-- reCAPTCHA widget -->
        <div class="g-recaptcha" data-sitekey="{{site_key}}"></div><br>
        <button type="submit">Register</button>
        <div class="register">
            <p>Already have an account? <a href="{% url 'login' %}">Login</a></p>
        </div>

    {% endif %}
    

  </div>
</body>
</html>
