

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login/Register</title>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
</head>
<body>
    {% if messages %}

      {% for message in messages %}

      <ul classes="messages">
        <li {% if message.tags %} class="{{message.tags}}" {% endif %}>{{message}}</li>
      </ul>

      {% endfor %}

    {% endif %}
    {% if page == "login" %}
    <h2>Login</h2>
    <form method="POST">
        {% csrf_token %}
        
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required><br>
        
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br>
        
        
        <!-- reCAPTCHA widget -->
        <div class="g-recaptcha" data-sitekey="{{site_key}}"></div><br>
        
        <button type="submit">Login</button>
    </form>
    
    <a href="{% url 'register' %}">Register</a>
    <a href="{% url 'index' %}">home</a>
    
    {% elif page == "register" %}
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <!-- reCAPTCHA widget -->
        <div class="g-recaptcha" data-sitekey="{{site_key}}"></div><br>
        <button type="submit">submit</button>
    </form>
    <a href="{% url 'login' %}">Login</a>
    <a href="{% url 'index' %}">home</a>
        
    {% else %}
        <h2>404</h2>
        <a href="{% url 'index' %}">home</a>
    {% endif %}
</body>
</html>