<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
</head>
<body>
    <h1>User Profile</h1>
    <p>doctor ID: {{ doctor.id }}</p>

    <p>Name: {{ doctor.name }}</p>
    <p>Email: {{ doctor.email }}</p>
    <p>Username: {{ doctor.username }}</p>
    <p>Location: {{ doctor.location }}</p>
    <p>Short Intro: {{ doctor.short_intro }}</p>
    <p>Bio: {{ doctor.bio }}</p>
    <p>Specialization: {{ doctor.specialization }}</p>
    <img src="{{ doctor.profile_image.url }}" alt="Profile Image">

    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">set</button>
    </form>
</body>
</html>