<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
</head>
<body>
    {% if messages %}

      {% for message in messages %}

      <ul classes="messages">
        <li {% if message.tags %} class="{{message.tags}}" {% endif %}>{{message}}</li>
      </ul>

      {% endfor %}

    {% endif %}
    <div class="profile-container">
        <h1>User Profile</h1>

            <a href="{% url 'doctor-dashboard' %}">back</a>

        <div class="profile-image">
            <img src="{{ profile.profile_image.url }}" alt="Profile Image" style="height: 100px; width: auto;">
        </div>
        <div class="profile-details">
            <p><strong>Name:</strong> {{ profile.name }}</p>
            <p><strong>Email:</strong> {{ profile.email }}</p>
            <p><strong>Username:</strong> {{ profile.username }}</p>
            <p><strong>Location:</strong> {{ profile.location }}</p>
            <p><strong>Short Intro:</strong> {{ profile.short_intro }}</p>
            <p><strong>Bio:</strong> {{ profile.bio }}</p>
            <p><strong>Specialization:</strong> {{ profile.specialization }}</p>
            <p><strong>Medical History:</strong> {{ profile.medical_history }}</p>
            <p><strong>Created:</strong> {{ profile.created }}</p>

        </div>
    </div>
</body>
</html>
