{% extends 'main-dash.html' %}

{% load static %}

{% block content %}
<div class="main-panel">
  {% include 'navbar-dash.html' %}
  <div class="container">
    <div class="page-inner">
      <div class="page-header">
        <h3 class="fw-bold mb-3">Appointments</h3>
        <ul class="breadcrumbs mb-3">
          <li class="nav-home">
            <a href="#">
              <i class="icon-home"></i>
            </a>
          </li>
          <li class="separator">
            <i class="icon-arrow-right"></i>
          </li>
          <li class="nav-item">
            <a href="#">Appointments</a>
          </li>
        </ul>
      </div>
      
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <div class="card-title">My Appointments</div>
            </div>
            <div class="card-body">
              <table class="table mt-3">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Doctor</th>
                    <th scope="col">Specialization</th>
                    <th scope="col">Date</th>
                    <th scope="col">Time</th>
                    <th scope="col">Status</th>
                    <th scope="col">Actions</th>
                  </tr>
                </thead>
                <tbody>
                  {% for appointment in appointments %}
                    <tr>
                      <td>{{ forloop.counter }}</td>
                      <td>{{ appointment.doctor.name }}</td>
                      <td>{{ appointment.doctor.specialization }}</td>
                      <td>{{ appointment.appointment_date }}</td>
                      <td>{{ appointment.appointment_time }}</td>
                      <td>{{ appointment.status }}</td>
                      <td>
                        <a href="{% url 'delete-appointment' appointment.id %}?page={{ page_encrypted }}">
                          <button class="btn btn-danger">Cancel</button>
                        </a>
                      </td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% include 'footer-dash.html' %}
</div>
{% endblock content %}
